@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);
main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Comfortaa', sans-serif;
    background-color: #E8F3FF;
}

body {
    padding: 5% 10% 5% 10%;
}

h1, h2, h3, h4, h5, h6, p, table, th, td {
    color: black;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
}

table > * > tr:not(:last-child) > *,
table > tr:not(:last-child) > * {
    border-bottom: 1px solid black;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid black;
}

tbody {
    padding: 10px;
}

th, td {
    padding: 5px;
    text-align: left;
}
